<div class="navbar">
    <h2 id="logo">FileUpload</h2>
    <% if (user) { %>
        <nav class="nav-links">
            <a href="/">Files</a>
            <a href="/folders-files/folders">Folders</a>
            <a href="/sign-out">Sign Out</a>
        </nav>
    <% } else { %>
        <nav class="nav-links">
            <a href="/">Sign In</a>
            <a href="/sign-up">Create Account</a>
        </nav>
    <% } %> 
</div>