* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #fff; */
    background-image: linear-gradient(90deg, #c4c4c4, #fff, #c4c4c4);
}

/* *** NAVBAR *** */
.navbar {
    display: flex;
    padding-left: 2%;
    background-color: rgb(28, 84, 240);
    color: white;
    padding: 1% 2%;
}

.navbar #logo {
    display: flex;
    flex: auto;
    font-size: xx-large;
}

.navbar .nav-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}


/* *** SIGN UP FORM *** */

#sign-up-form-container {
    display: grid;
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 3% 30%
}

#sign-up-form-header {
    margin: 10px auto 20px;
}


#sign-up-form {
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-areas: 
        "first_name last_name"
        "email password"
        "password_confirmation password_confirmation"
        "add_user_button add_user_button"
    ;
}

#sign-up-form input {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    border: black solid 1px;
    border-radius: 5px;
}

.first-name {
    grid-area: first_name;
}

.last-name {
    grid-area: last_name;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.password-confirmation {
    grid-area: password_confirmation;
}

#add-user-button {
    grid-area: add_user_button;
    font-size: 18px;
    width: 50%;
    margin: 10px auto 0;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
}


/* *** SIGN IN FORM *** */

#sign-in-form-container {
    display: grid;
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 3% 30%
}

#sign-in-form-header {
    margin: 10px auto 20px;
}


#sign-in-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    font-size: 20px;
}

#sign-in-form .email {
    flex: auto;
}

#sign-in-form .password {
    flex: auto;
}

#sign-in-form input {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    border: black solid 1px;
    border-radius: 5px;
}

#sign-in-button {
    flex: auto;
    font-size: 20px;
    width: 50%;
    margin: 10px auto 0;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
}

/* *** HOME PAGE *** */
#files-container {
    /* display: grid; */
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 3%;
}

#files-container-header {
    margin: 10px 20px;
    font-size: x-large;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: 400;
    color: #888;
    text-align: left;
    padding-left: 50px;
}

td {
    padding: 10px 10px 10px 30px;
}

td a, td a:hover, td a:active, td a:visited{
    color: black;
}


tr:nth-child(even){
    background-color: #fafafa;
}

#open-form-button-container {
    margin: 10px auto 10px 75%;
}

.open-form-button {
    padding: 5px;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
    width: 10vw;
    background-color: #ffffff00;
}

.open-form-button:hover {
    background-color: #fff;
    border-width: 1.5px;
}

#add-folder-form, #add-file-form {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 35%;
    gap: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 300px 500px #0000007f;    
}

.add-folder-form-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
}

#add-folder-form {
    margin: 0 auto;
}

#add-folder-form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.add-file-form-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
}

#add-file-form {
    margin: 0 auto;
}

.add-form-close{
    position: absolute;
    top: 6px;
    right: 10px;
    border: none;
    background-color: #ffffff00;
}

.add-form-close:hover {
    font-weight: 700;
}

#add-folder-submit, #add-file-submit {
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

#add-folder-submit:hover, #add-file-submit:hover {
    border: 1.5px solid black;
}
