* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #fff; */
    background-image: linear-gradient(90deg, #c4c4c4, #fff, #c4c4c4);
}

/* *** NAVBAR *** */
.navbar {
    display: flex;
    padding-left: 2%;
    background-color: rgb(28, 84, 240);
    color: white;
    padding: 1% 2%;
}

.navbar #logo {
    display: flex;
    flex: auto;
    font-size: xx-large;
}

.navbar .nav-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

a {
    text-decoration: none;
}

.navbar a, .navbar a:visited {
    color: white;
}


/* *** SIGN UP FORM *** */

#sign-up-form-container {
    display: grid;
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 3% 30%
}

#sign-up-form-header {
    margin: 10px auto 20px;
}


#sign-up-form {
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-areas: 
        "first_name last_name"
        "email password"
        "password_confirmation password_confirmation"
        "add_user_button add_user_button"
    ;
}

#sign-up-form input {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    border: black solid 1px;
    border-radius: 5px;
}

.first-name {
    grid-area: first_name;
}

.last-name {
    grid-area: last_name;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.password-confirmation {
    grid-area: password_confirmation;
}

#add-user-button {
    grid-area: add_user_button;
    font-size: 18px;
    width: 50%;
    margin: 10px auto 0;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
}


/* *** SIGN IN FORM *** */

#sign-in-form-container {
    display: grid;
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 3% 30%
}

#sign-in-form-header {
    margin: 10px auto 20px;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    font-size: 20px;
}

#sign-in-form .email {
    flex: auto;
}

#sign-in-form .password {
    flex: auto;
}

#sign-in-form input {
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    padding: 5px 5px 5px 10px;
    border: black solid 1px;
    border-radius: 5px;
}

#sign-in-button {
    flex: auto;
    font-size: 20px;
    width: 50%;
    margin: 10px auto 0;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
}


/* *** HOME PAGE *** */
#files-container {
    background-color: white;
    border: #888 solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 3%;
}

#files-container-header {
    margin: 10px 20px;
    font-size: x-large;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: 400;
    color: #888;
    text-align: left;
    padding-left: 50px;
}

td {
    padding: 10px 10px 10px 30px;
}

td a, td a:hover, td a:active, td a:visited{
    color: black;
}

tr:nth-child(even){
    background-color: #fafafa;
}

#open-form-button-container {
    margin: 10px auto 10px 75%;
}

.open-form-button {
    padding: 5px;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
    width: 10vw;
    background-color: #ffffff00;
}

.open-form-button:hover {
    background-color: #fff;
    border-width: 1.5px;
}

#add-folder-form, #add-file-form {
    display: grid;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 35%;
    gap: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 300px 500px #0000007f;    
}

.add-folder-form-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
}

#add-folder-form {
    margin: 0 auto;
}

#add-folder-form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.add-file-form-container {
    visibility: hidden;
    position: absolute;
    width: 100%;
}

#add-file-form {
    margin: 0 auto;
}

.add-form-close{
    position: absolute;
    top: 6px;
    right: 10px;
    border: none;
    background-color: #ffffff00;
}

.add-form-close:hover {
    font-weight: 700;
}

#add-folder-submit, #add-file-submit {
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

#add-folder-submit:hover, #add-file-submit:hover {
    border: 1.5px solid black;
}


/* *** FOLDERS PAGE *** */

#folders-container {
    background-color: white;
    border: #888 solid 1px;
    padding: 20px 30px 50px;
    width: 50%;
    border-radius: 10px;
    margin: 15px auto;
}

#folders-container-header {
    margin: 10px 20px 20px;
    font-size: x-large;
}

.folder-item {
    margin: 0 45px;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid darkgray;
    gap: 20px;
    position: relative;
}

.folder-name {
    flex: auto;
    align-self: center;
    font-weight: 600;
    margin-left: 20px;
}

.folder-edit-button, .folder-delete-button {
    flex: auto;
    align-self: center;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100px;
    width: 100px;
}

.folder-edit-button {
    margin-left: auto;
}

.folder-edit-button:hover {
    border-width: 1.5px;
}

.folder-delete-button:hover {
    border: 1.5px solid red;
}

#update-folder-form, #delete-folder-form {
    visibility: hidden;
    position: absolute;
}

#update-folder-form {
    padding: 20px;
    display: flex;
    gap: 20px;
    top: 0;
    left: 0;
}

.folder-name-input {
    flex: auto;
    font-weight: 600;
    margin-left: 20px;
    padding-left: 5px;
}

.folder-update-button, .folder-cancel-button {
    flex: auto;
    align-self: center;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 105px;
    width: 105px;
}

.folder-update-button:hover, .folder-cancel-button:hover {
    border-width: 1.5px;
}

.folder-update-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
}

.folder-cancel-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5px;
    margin-left: -5px;
}

#delete-folder-form {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    width: 35%;
    padding: 50px;
    box-shadow: 0 0 300px 500px #0000007f;
    
}

.delete-form-label {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 25px;
}

.delete-form-button-container{
    display: flex;
    justify-content: center;
    gap: min(20%, 150px);
}

.folder-confirm-delete-button, .folder-cancel-delete-button {
    flex: auto;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100px;
    width: 100px;
}

.folder-confirm-delete-button:hover, .folder-cancel-delete-button:hover {
    border-width: 1.5px;
}

.no-folders-message{
    text-align: center;
}


/* *** FILES PAGE *** */
.file-page-container {
    margin: 50px auto;
    padding: 30px;
    width: 70%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    position: relative;
}

.file-info-container {
    padding: 35px 30px 20px;
    display: flex;
    gap: 40px;
}

.file-info-container a, .file-info-container a:visited {
    color: rgb(28, 84, 240);
}

.file-form-button-container {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
}

.file-download-form, .open-share-form-button-container, .file-delete-form{
    flex: auto;
    width: 100px;
    position: relative;
}

.file-download-form-button, .file-open-share-form-button, .file-delete-form-button{
    position: absolute;
    top: 0%;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.file-download-form-button:hover, .file-open-share-form-button:hover, .file-delete-form-button:hover {
    border: 1.5px solid black;
}

.file-share-form {
    visibility: hidden;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 300px 500px #0000007f;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 25%;
    width: 50%;
    padding: 50px;
    display: grid;
    grid-template: 1fr 1fr / 2% 48% 48%;
    grid-template-areas: 
        "hidden label expiration"
        "button button button";
    gap: 10px;
}

#hidden-share-input {
    grid-area: hidden;
}

#share-label {
    grid-area: label;
    justify-self: end;
    margin-right: 10px;
}

#file-share-expiration {
    grid-area: expiration;
    width: 150px;
}

#share-submit-button {
    grid-area: button;
    justify-self: center;
    width: 100px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

#share-submit-button:hover {
    border: 1.5px solid black;
}

#close-share-form-button {
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: transparent;
    border: none;
}

#close-share-form-button:hover {
    font-weight: 600;
}

iframe {
    height: 80vh;
    width: 100%;
}


/* *** SHARED FILE PAGE *** */

.shared-navbar {
    display: flex;
    padding-left: 2%;
    background-color: rgb(28, 84, 240);
    color: white;
    padding: 1% 2%;
}

.shared-navbar #logo {
    display: flex;
    flex: auto;
    font-size: xx-large;
}

.shared-navbar .nav-links {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

.shared-navbar a, .shared-navbar a:visited {
    color: white;
}


.shared-file-page-container {
    margin: 50px auto;
    padding: 30px;
    width: 70%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 20px;
    position: relative;
}

.shared-file-info-container {
    padding: 35px 30px 20px;
    display: flex;
    gap: 40px;
}

.shared-file-form-button-container {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
}

.shared-file-download-form {
    flex: auto;
    width: 100px;
    position: relative;
}

.shared-file-download-form-button {
    position: absolute;
    top: 0%;
    width: 100%;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.shared-file-download-form-button:hover {
    border: 1.5px solid black;
}
